site_name: "DevContainer Template"
site_description: "Environnement de dev universel avec 79 agents IA, 16 commandes, et 25 langages"
site_url: ""
docs_dir: docs
site_dir: site

repo_url: "https://github.com/kodflow/devcontainer-template"
repo_name: "kodflow/devcontainer-template"
edit_uri: "edit/main/docs/"

theme:
  name: material
  palette:
    scheme: slate
    primary: custom
    accent: custom
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

nav:
  - Docs:
      - Accueil: index.md
      - Premiers pas:
          - Installation: getting-started/README.md
          - Configuration: getting-started/configuration.md
          - Workflow quotidien: getting-started/workflow.md
      - Commandes: commands/README.md
      - Automatisation: automation/README.md
      - Architecture: architecture/README.md
      - Référence:
          - Langages: reference/languages.md
          - Conventions: reference/conventions.md
          - Dépannage: reference/troubleshooting.md
  - Projet:
      - Vision: vision.md
      - Architecture projet: architecture.md
      - Workflows: workflows.md
      - Guides: guides/README.md
  - Changelog: changelog.md
  - GitHub: https://github.com/kodflow/devcontainer-template

extra_css:
  - stylesheets/theme.css

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/kodflow/devcontainer-template"

copyright: "DevContainer Template · MIT · <a href='https://github.com/kodflow/devcontainer-template'>GitHub</a>"
